@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    z-index: 1;
}

li {
    list-style: none;
}

body {
    max-width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

header {
    max-width: 1142px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 5rem;
    padding: 0 5px;
    background-color: #FFFFFF;
}

.menu-header {
    max-width: 45rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
    height: 85%;
}

.menu-header ul {
    font-size: 14px;
    font-weight: 400;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 1);
}

.menu-header ul li {
    list-style: none;
    max-width: 160px;
    margin-left: 15px;
}

.menu-header ul li:visited {
    color: rgba(45, 56, 146, 1);
}

.menu-header a {
    text-decoration: none;
    text-transform: uppercase;
}

.number::before {
    content: url('../img/phone.png');
}

.number {
    color: rgba(45, 56, 146, 1);
}

.section-1 {
    background: url(../img/trio.png) no-repeat;
    min-height: 630.73px;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 10rem;
    justify-content: center;
    background-size: cover;
}

.section-1 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
}

.section-1 h5 {
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.section-1 button {
    margin-top: 2rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    width: 163px;
    height: 42px;
    border: none;
    background: linear-gradient(96.57deg, #2D3892 32.84%, rgba(58, 79, 253, 0.5) 110.18%), linear-gradient(0deg, #2D3892, #2D3892);
}

.section-2 {
    background: linear-gradient(0deg, #2D3892, #2D3892), linear-gradient(93.7deg, rgba(45, 56, 146, 0.8) 30.42%, rgba(58, 79, 253, 0.4) 75.67%);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-2 p {
    max-width: 1140.45px;
    height: auto;
    margin: 0 auto;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0 25px 0 25px
}

.section-3 {
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    max-width: 72rem;
    margin: 0 auto;
}

.section-3 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    width: 25%;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: rgba(79, 79, 79, 1);
}

.section-3 div img {
    align-self: center;
    width: 50px;
    height: 50px;
}

.section-3 div h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #3241BA;
    margin-top: 15px;
}

.section-3 div p {
    margin-top: 10px;
    width: 85%;
}

.section-4 {
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-5 {
    max-width: 1142px;
    margin: 0 auto;
}

.section-5 div {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.section-5 p {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #2D3892;
    margin-bottom: 15px;
}

.section-5 li {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.section-5 span {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #303EAC;
    text-transform: uppercase;
}

.table {
    height: auto;
    width: 80%;
    transition: all 0.2s linear 0.1s;
    background: none;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    border-collapse: collapse;
}

.table tr {
    width: 100%;
    height: 3rem;
}

.table td {
    width: 25%;
    height: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.table tr:nth-last-child(-n+1) td {
    border-bottom: 1px solid #1D47B3;
    padding-bottom: 2rem;
}

.hide {
    opacity: 0;
    z-index: 0;
    position: absolute;
    transition: all 0.2s linear 0.2s;
}

.visible {
    z-index: 9999;
    opacity: 1;
}

.btn-sec {
    max-width: 1142px;
    height: 22px;
    background: rgba(29, 71, 179, 0.12);
    display: flex;
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.btn-sec-1 {
    justify-content: space-between;
}

.table-btn {
    font-size: 15px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.9;
    border: none;
    background: none;
    transition: all 0.2s linear 0.2s;
    position: relative;
    text-align: center;
    flex: 0.1 0.1 auto;
}

.btn-sec-1 button {
    flex: 1 1 auto;
}

.table-btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -11px;
    width: 0;
    height: 4px;
    background-color: rgba(29, 71, 179, 1);
}

.clicked {
    color: #2D3892;
    opacity: 1;
    transform-origin: left;
}

.clicked::before {
    width: 100%;
}

.table-btn::before {
    transition: width 0.35s;
}

.main-table {
    max-width: 1142px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tr-1 {
    font-weight: 500;
    font-size: 16px;
    color: #1D47B3;
}

.line {
    width: 100%;
    height: 2px;
    background: rgba(29, 71, 179, 0.5);
    margin-top: 0.5rem;
}

.section-6 {
    max-width: 100%;
    height: 250px;
    background-image: url("../img/trio2.svg");
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 5rem;
}

.section-6 div {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-weight: 600;
    font-size: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-7 {
    margin: 0 auto;
    max-width: 1142px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.section-7 p {
    align-self: flex-start;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #2D3892;
}

.section-7 ul {
    margin-top: 1rem;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.section-7 ul li {
    list-style: inherit;
}

.section-7 img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.btn-sec-2 {
    justify-content: flex-start;
}

.btn-sec-2 button {
    flex: 0.1 0.1 auto;
}

#table-2-1 td,
#table-2-2 td,
#table-2-3 td,
#table-2-4 td {
    width: 20%;
}

.section-8 {
    max-width: 100%;
    height: 350px;
    margin-top: 3rem;
}

.section-8 p {
    max-width: 1142px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #2D3892;
    height: 50px;
}

.single-item {
    max-width: 100%;
    height: 350px;
}

.slides {
    margin-right: 1rem;
    margin-left: 1rem;
    width: auto !important;
    height: auto !important;
}

.section-9 {
    margin-top: 5rem;
    max-width: 1142px;
    margin: 0 auto;
    margin-top: 8rem;
    display: flex;
    flex-wrap: wrap;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}

.info div {
    max-width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 400px;
}

.info img {
    width: 550px;
    align-self: flex-start;
    justify-self: flex-start;
}

.info span {
    font-weight: 600;
    font-size: 16px;
    color: #1D47B3;
}

.info p {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 27px;
    margin-bottom: 0.3rem;
}

.maine-txt {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #2D3892;
}

.info div button {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    width: 163px;
    height: 42px;
    border: none;
    background: linear-gradient(96.57deg, #2D3892 32.84%, rgba(58, 79, 253, 0.5) 110.18%), linear-gradient(0deg, #2D3892, #2D3892);
}

.price {
    font-weight: 600 !important;
    font-size: 22px !important;
    color: #1D47B3 !important;
}

.section-9 {
    margin-top: 3rem;
}

.info div {
    justify-content: space-between;
    height: 380px;
}

.section-10 {
    max-width: 1142px;
    height: auto;
    margin: 0 auto;
}

.box-cont {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.box-cont div {
    width: 270px;
    height: 196px;
    background: linear-gradient(132.05deg, rgba(45, 56, 146, 0.8) 26.61%, rgba(58, 79, 253, 0.4) 96.96%), #2D3892;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
}

.box-cont div p:first-child {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-cont div p:last-child {
    max-width: 223px;
    margin: 0 auto;
}

#main-table-5 {
    height: 375px;
}

.section-10 p:first-child {
    margin-bottom: 2rem;
}

.tnx {
    max-width: 1142px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #2D3892;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

footer {
    max-width: 100%;
    background: url(../img/footer.svg) no-repeat;
    min-height: 349.08px;
    color: white;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-size: cover;
    justify-content: space-around;
    align-items: center;
}

footer div {
    max-width: 27%;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    display: flex;
    height: 12rem;
    flex-direction: column;
    justify-content: space-between;
}

footer div:first-child img {
    max-width: 155px;
}

footer div button {
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 500;
    max-width: 163px;
    height: 42px;
    border: none;
    background: linear-gradient(96.57deg, #2D3892 32.84%, rgba(58, 79, 253, 0.5) 110.18%), linear-gradient(0deg, #2D3892, #2D3892);
}

footer li a,
footer li {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
}

.moover {
    transition: all 0.5s linear;
}

#moover-1 {
    height: 375px;
}

#moover-2 {
    height: 179px;
}

#moover-3 {
    height: 130px;
}

#moover-4 {
    height: 277px;
}

.soc {
    display: flex;
    max-width: 130px;
    justify-content: space-between;
}

.main-form {
    background: #FFFFFF;
    width: 440px;
    height: 805px;
    position: fixed;
    z-index: 999999;
    margin-left: 50%;
    margin-right: 50%;
    left: -13rem;
    margin-top: 4.5%;
    opacity: 1;
    transition: all 0.3s linear;
    visibility: inherit;
    opacity: 1;
}

form {
    padding: 30px;
    width: 86.5%;
    height: 94%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form input {
    width: 92%;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.main-label {
    width: 100%;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #2D3892;
}

form input.error {
    border-color: red;
}

form textarea {
    width: 92%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    line-height: 18px;
    resize: none;
    height: 120px;
}

form button {
    background: linear-gradient(108.45deg, #2D3892 41.23%, rgba(58, 79, 253, 0.5) 84.72%), #2D3892;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 100%;
    height: 70px;
    cursor: pointer;
    border: none;
}

form p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.hover {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000a1;
    z-index: 999998;
    border: none;
    visibility: inherit;
    opacity: 1;
}

label.error {
    display: none !important;
}

.hided {
    opacity: 0;
    z-index: 0 !important;
    visibility: hidden;
}

.hided1 {
    opacity: 0;
    z-index: -2;
    visibility: hidden;
}